<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<p>MAIN PAGE</p>
<form method="post">
    {% csrf_token %}
    <p></p>
    {% for value in form %}
        <p>{{ value.label }}</p>
        <p>{{ value }}</p>
    {% endfor %}
    <button type="button" onclick="change_color();">Change color</button>
    <div id="outputText"></div>
</form>
<script>
    var colors = '';

    function readSingleFile(evt) {
        var f = evt.target.files[0];

        if (f) {
          var r = new FileReader();
          r.onload = function(e) {
              var contents = e.target.result;
              colors = contents.substr(0, contents.length);
          };
          r.readAsText(f);
        } else {
          alert("Failed to load file");
        }
    }

    document.getElementById('id_colors_file').addEventListener('change', readSingleFile, false);

    var change_color = function() {
        var input_text = document.getElementById("id_input_text").value;
        var font_size = document.getElementById("id_font_size").value;

        var data = {
            input_text: input_text,
            colors: colors,
            font_size: font_size
        };
        $.ajax
        ({
            type     : "POST",
            url      : "",
            data     : data,
            success  : function(response)
            {
                if(response) {
                    var output_text = JSON.parse(response).output_text;
                    if (output_text)
                        document.getElementById("outputText").innerHTML = output_text;
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
